
<div class="container text-center">
    <h1>Categories</h1>
    
    <table class="table" *ngIf="categories && categories.length > 0">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Name</th>
        <th scope="col">Url Handle</th>        
        <th></th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
    <tr *ngFor ="let category of categories">
    <th >{{ category.id }}</th>
        <td >{{ category.name }}</td>
        <td >{{ category.urlHandle }}</td>
    </tr>
    </tbody>
    </table>    
    
    <p *nfIf="!categories || categories.length ==0"> No Categories </p>
    <a class="btn btn-primary" [routerLink]="['/admin/categories/add']">Add Category</a>
  </div>